body {
    font-family: 'Courier New', Courier, monospace
}

nav {
    text-align: center;
}

nav li {
    display: inline;
}

h1 {
    text-align: center;
}

.form {
    display: flex;
    justify-content: center;
}

#current {
    text-align: center;
}